<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Wajib untuk floating window -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />

    <application
        android:allowBackup="true"
        android:icon="@android:drawable/ic_menu_edit"
        android:roundIcon="@android:drawable/ic_menu_edit"
        android:label="Copy Text Floating"
        android:theme="@style/Theme.CopyText">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.CopyText">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".FloatingService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="mediaProjection" />

        <activity
            android:name=".CropActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />

    </application>
</manifest>
